<header class="fixed-top">
  <!-- ajouter un bouton -->

  <span (click)='toggle()'>
    <ng-content
    *ngIf='!open'
    select='.tr-btn-nav'>
    </ng-content>

    <ng-content
    *ngIf='open'
    select='.tr-btn-close'>
    </ng-content>
  </span>


  <!-- projet app-header -->
  <ng-content select='.tr-header'></ng-content>
</header>
<main [ngClass]="{'close-aside' : !open}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select='.tr-nav'></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      <ng-content select='.tr-content'></ng-content>
    </div>
    <footer>
      <ng-content select='.tr-footer'></ng-content>
    </footer>
  </div>
</main>
